<!--
Keşfedilecek yeni yerler
-->{% load static %}
<div style="background-color: #f5f5f5">
    <h3>KEŞFEDİLECEK YENİ YERLER </h3>
    <hr class="soften"/>
    <ul class="thumbnails">
        {% for yeni in lastproducts %}
            {% if forloop.counter == 7 %}
                <div style="width: 335px;height: 200px;float:left;margin-right: 10px;margin-left: 26px; background-color: white">
                    <div align="center"><a href="yurtici-turistik-mekanlar/" style="font-size: 20px; font-weight: bold;text-decoration: none; color: red"> Yurtiçi Turistik Mekanlar</a></div>
                    <div align="center"><a href="yurtici-turistik-mekanlar/"><img src="{% static  'assets/img/saatkulesi.jpg'%}" alt="bootstrap shop" style="height: 170px; width: 300px"></a></div>
                </div>
                <div style="width: 335px;height: 200px;float:left;margin-right: 10px;margin-left: 4px; margin-bottom: 10px; background-color: white">
                    <div align="center"><a href="yurtdisi-turistik-mekanlar/" style="font-size: 20px; font-weight: bold;text-decoration: none; color: red"> Yurtdışı Turistik Mekanlar</a></div>
                    <div align="center"><a href="yurtdisi-turistik-mekanlar/"><img src="{% static  'assets/img/kolezyum.jpg'%}" alt="bootstrap shop" style="height: 170px; width: 300px"></a></div>
                </div>
            {% endif %}
            <li class="span3">
                <div class="thumbnail">
                    <a class="zoomTool" href="/turistikmekan/{{ yeni.id }}/{{ yeni.slug }}" title="add to cart"><span class="icon-search"></span> ZİYARET ET</a>
                    <a href="/turistikmekan/{{ yeni.id }}/{{ yeni.slug }}"><img src="{{ yeni.image.url }} " style="height: 200px" alt=""></a>
                    <div class="caption cntr">
                        <p>{{ yeni.title}}</p>
                        <br class="clr">
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</div>
</div>
<!--
Clients
-->
<section class="our_client">
    <hr class="soften"/>
</section>