<!--
	Upper Header Section
-->{% load static %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
        <div class="container">
            <div class="alignR">
                <div class="pull-left socialNw">
                    <a href="{{ settings.instagram }}"><span class="icon-instagram"></span></a>
                    <a href="{{ settings.facebook }}"><span class="icon-facebook"></span></a>
                    <a href="{{ settings.youtube }}"><span class="icon-youtube"></span></a>
                    <a href="{{ settings.twitter }}"><span class="icon-twitter"></span></a>
                </div>
                <a class="active" href="/"> <span class="icon-home"></span> Anasayfa</a>
                {% if user.id is not None %}
                    <a href="/user"><img src="{{ user.userprofile.image.url }}" style="height: 30px; width: 30px"> {{ user.first_name }}</a>
                {% endif %}
                <a href="/hakkimizda"><span class="icon-envelope"></span> Hakkımızda</a>
                <a href="/iletisim"><span class="icon-phone"></span> İletişim</a>
                <a href="/referanslarimiz"><span class="icon-refresh"></span> Referanslar</a>
                <!--	<a href="cart.html"><span class="icon-shopping-cart"></span> 2 Item(s) - <span class="badge badge-warning"> $448.42</span></a>
                -->
                <ul class="nav pull-right">
                    {% if user.id is not None %}
                        <a href="/logout" style="color: red">Logout</a>
                    {% else %}
                        <li> <div class="control-group">
                            <a href="/login" style="font-size: 15px">Login</a>
                            <a href="/signup/" style="font-size: 15px">Üye Ol</a>
                        </div></li>
                        </ul>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
<!--
Lower Header Section
-->
<div class="container">
    <div id="gototop"> </div>

    <header id="header">
        <div class="row">
            <div class="span4">
                <h1>
                    <a class="logo" href="/"><span>Twitter Bootstrap ecommerce template</span>
                        <img src="{% static  'assets/img/logo.png'%}" alt="bootstrap shop" style="height: 100px; width: 250px">
                    </a>
                </h1>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    <h3>{{ message|safe }}</h3>
                </div>
            {% endfor %}
        {% endif %}
    </header>
    <!--
Navigation Bar Section
-->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Anasafa	</a></li>
                        <li class=""><a href="list-view.html">List View</a></li>
                        <li class=""><a href="grid-view.html">Grid View</a></li>
                        <li class=""><a href="three-col.html">Three Column</a></li>
                        <li class=""><a href="/sss">SSS</a></li>
                    </ul>
                    <script>
                        $(function () {
                            $("#query").autocomplete({
                                source:"/search_auto",
                                select: function (event, ui) {//item selected
                                    AutoCompleteSelectHandler(event, ui)
                                },
                                minLength: 2,
                            });
                        });
                        function AutoCompleteSelectHandler(event, ui)
                        {
                            var selectedObj = ui.item;
                        }

                    </script>
                    <form action="/search/" method="post" class="navbar-search pull-left" >
                        {% csrf_token %}
                        <input id="query" name="query" type="text" placeholder="Anahtar kelimeyi gir" class="">
                        {% load mptt_tags %}
                        <select name="catid" class="input search-categories">
                            <option value="0">Bütün Kategoriler</option>
                            {% recursetree category %}
                                {% if node.is_leaf_node %}<option value="{{ node.id }}">{{ node.title }}</option>{% endif %}
                                {% if not node.is_leaf_node %}
                                    <optgroup label="{{ node.title }}">
                                        {{ children }}
                                    </optgroup>
                                {% endif %}
                            {% endrecursetree %}
                        </select>
                        <button class="" ><i class="fa fa-search">Ara</i></button>
                    </form>
                </div>
            </div>
            <div style="position:relative; z-index:2">
                <nav role="navigation" class="nmee">
                    <ul class="dsaf">
                        {% load mptt_tags %}
                        {% if menu  %}
                            {% recursetree menu %}
                                <li class="herw qwert wrdw"><a href="/menu/{{ node.id }}" class="nme asdf" {% if not node.is_leaf_node %} data-toggle="dropdown" aria-expanded="true" {% endif %}>{{ node.title }} {% if not node.is_leaf_node %}<i class="fa fa-angle-right"></i>{% endif %}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="dropdown adsafsa acılırkutu dsaf">
                                            <li class="herw qwert wrdw faqfafs"><a href="#" class="nme asdf">{{ children }}</a></li>
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endrecursetree %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
