{% extends "homebase.html" %}

{% block title %}{{ product.title }} {% endblock %}
{% block keywords %}{{ product.keywords}}{% endblock %}
{% block description %}{{product.description}}{% endblock %}
{% block head %}
    <link rel="shortcut icon" href='{{settings.icon.url}}'>
{% endblock %}
{% block body %} <div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><h5><a href="/" style="color: #0e0e0e">Ana Sayfa-></a></h5></li>
            <li><h5><a href="/category/{{ product.category_id }}/{{ product.category.slug }}" style="color: #0e0e0e" >{{ product.category }}-> </a></h5></li>
            <li class="active"><h5>{{product.title}}</h5></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="well well-small">
                    <a href="/visitetouser/{{ product.user.id }}"><img src="{{ product.user.userprofile.image.url }}" style="height: 100px; width: 100px"></a><br>
                    <a href="/visitetouser/{{ product.user.id }}" style="font-size: 20px; text-decoration: none; color: orange;">{{ product.user.first_name }} {{ product.user.last_name }}</a>
                    <div>
                        <p>
                            <strong>Güncelleme tarihi:</strong> {{ product.update_at }}
                        </p>
                    </div>
                </div>
                <div class="well well-small">
                    <h2 align="center" style="color: #cd0a0a;">{{product.title}}</h2>
                    <div>
                        <img src="{{ product.image.url }}" align="left" style="height: 300px;padding: 20px; border-radius:25px" >
                        {{ product.detail|safe }}
                        <div align="">
                            {% for img in images %}
                                <h3 style="left: 100px">{{ img.title }}</h3>
                                <img src="{{img.image.url}}" alt="" style="height: 451px; width: 800px" > <br> <br> <br>
                            {% endfor %}
                        </div>
                    </div>
                    <hr class="softn clr"/>
                    <div class="tab-content tabWrapper">
                        <div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <h2>
                                        {% if avg.rate__avg >= 3 %}<strong style="color: green">
                                        {% elif avg.rate__avg < 3 or avg.rate__avg > 2.5 %} <strong style="color: orange">
                                        {% else %} <strong style="color: red"> {% endif %}
                                        {{ avg.rate__avg|floatformat:"2"}} </strong>{% if avg.rate__avg == NULL %}<strong style="color: red">Henüz kimse bu içeriği oylamadı.</strong> {% else %} / <strong style="color: green">5</strong>{% endif %}
                                    </h2>

                                    <!-- Yorum yap ve puan ver. -->

                                    <h4>Görüşünüz yaz</h4>
                                    {% if messages%}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }}" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <form class="" action="/turistikmekan/addcomment/{{ product.id }}" method="post">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <textarea class="" name="comment" id="id_comment" placeholder="Your review"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-rating">
                                                <strong class="text-uppercase">Puan Ver:</strong>
                                                <div class="stars">
                                                    <input type="radio" id="star5" name="rate" value="5"/>5<label for="star5"></label>
                                                    <input type="radio" id="star4" name="rate" value="4"/>4<label for="star4"></label>
                                                    <input type="radio" id="star3" name="rate" value="3"/>3<label for="star3"></label>
                                                    <input type="radio" id="star2" name="rate" value="2"/>2<label for="star2"></label>
                                                    <input type="radio" id="star1" name="rate" value="1"/>1<label for="star1"></label>
                                                </div>
                                            </div>
                                        </div>
                                        {% if user.id is not None %}
                                            <button class="primary-btn">Yorumunu Gönder</button>
                                        {% else %}
                                            Yorum eklemek için <a href="/login" style="color: red">giriş</a> yapınız.
                                        {% endif %}
                                    </form>
                                </div>
                                <div class="span4 alignR">
                                </div>
                            </div>

                            <!-- Yapılan yorumları ve verilen puanları görüntüle. -->

                            {% for com in comments %}
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="">
                                            <div>
                                                <a href="/visitetouser/{{ com.user_id }}"><img src="{{ com.user.userprofile.image.url }}" style="height: 75px"></a>
                                                <a href="/visitetouser/{{ com.user_id }}"><i class="fa fa-user-o"></i> <b>{{ com.user.first_name }} {{ com.user.last_name }}</b></a>
                                            </div>
                                            <div>{{ com.create_at }}</div>
                                            <hr style="width: 50%;border-top: 2px solid red;">
                                            <div>
                                                {% if com.rate == 1 %}<h4>Puan: 1</h4> {% endif %}
                                                {% if com.rate == 2 %}<h4>Puan: 2</h4> {% endif %}
                                                {% if com.rate == 3 %}<h4>Puan: 3</h4> {% endif %}
                                                {% if com.rate == 4 %}<h4>Puan: 4</h4> {% endif %}
                                                {% if com.rate == 5 %}<h4>Puan: 5</h4> {% endif %}
                                            </div>
                                        </div>
                                        <div>
                                            <p>{{ com.comment }}</p>
                                        </div>
                                    </div>
                                </div>
                                <hr class="soft">
                            {% endfor %}
                        </div>
                        <hr class="soften"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}