{% load static %}
<div class="row">
<div id="sidebar" class="span3">
<div class="well well-small">
<nav>
    <ul class="isim1">
        {% load mptt_tags %}
    {% recursetree category %}
        <li class="isim3"><a href="/category/{{ node.id }}/{{ node.slug }}" class="isim4 isim5">{% if not node.is_leaf_node %}<span class="icon-chevron-left"></span>{% endif %}
            {{ node.title }}
 </a>
            {% if not node.is_leaf_node %}
                <ul class="isim1 isim2 isim6">
                    <li class="isim3"><a href="#" class="isim4 isim5"><span class="icon-chevron-left"></span>{{ children }}</a></li>
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
    </ul>
</nav>
</div>
			  <div class="well well-small alert alert-warning cntr">
				  <h2>XXXXXXXXX</h2>
				  <p>
					 xxxxxxxxx <br><br><a class="defaultBtn" href="#">xxxxx </a>
				  </p>
			  </div>
			<a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
			<br>
			<br>
			<ul class="nav nav-list promowrapper">
                {% for random in randomproducts %}
			<li>
			  <div class="thumbnail">
				<a class="zoomTool" href="/product/{{ random.id }}/{{ random.slug }}" title="add to cart"><span class="icon-search"></span>ZİYARET ET</a>
				<img src="{{ random.image.url }}" alt="bootstrap ecommerce templates">
				<div class="caption">
				 <!-- <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4> -->
				</div>
			  </div>
			</li>
                    <li style="border:0"> &nbsp;</li>
                {% endfor %}
		  </ul>
	</div>
