{% extends "homebase.html" %}

{% block title %}Yurtiçi {{ settings.title }} {% endblock %}
{% block keywords %}{{ settings.keywords}}{% endblock %}
{% block description %}{{settings.description}}{% endblock %}
{% block head %}
    <link rel="shortcut icon" href='{{settings.icon.url}}'>
{% endblock %}
{% block body %} <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">Yurtiçi Turistik Mekanlar</li>
            </ul>
<div>
<!--
New Products
-->
	<div>

		  <ul class="thumbnails">
            {% for rs in yurticitm %}
			<li class="span4">
			  <div class="thumbnail">
				<a href="/turistikmekan/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" style="height: 150px" alt=""></a>
				<a href="/turistikmekan/{{ rs.id }}/{{ rs.slug }}" style="text-decoration: none; color: black;" ><div class="caption cntr">
                    {{ rs.title }}
					<br class="clr">
                </div></a>
			  </div>
			</li>
             {% endfor %}
		  </ul>

	</div>
	</div>
<!--
Clients
-->
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
 </div>

{% endblock %}

