{% extends "homebase.html" %}

{% block title %} Şifre Değiştir{% endblock %}
{% block keywords %}{{ settings.keywords}}{% endblock %}
{% block description %}{{settings.description}}{% endblock %}
{% block head %}
    <link rel="shortcut icon" href='{{settings.icon.url}}'>
{% endblock %}
{% block body %} <div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Anasayfa</a></li>
            <li class="active">Kullanıcı Profil</li>
        </ul>
        <div class="well well-small">
            <div class="span3">
                {% include "user_panel.html" %}
            </div>
            <div class="span5">
                <div class="row">
                    <h3>Şifre Değiştir</h3>
                </div>
            {% if messages %}
                    {% for message in messages %}
                      <div style="color: #d43f3a; font-size: medium">
                        {{ message|safe}}
                      </div>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                <button type="submit">Değişiklikleri Kaydet</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}